[user]
  name = {{ git.username|default('vagrant') }}
  email = {{ git.usermail|default('vagrant@example.com') }}
[pull]
  rebase = false
[rebase]
  autosquash = true
  abbreviateCommands = true
  autostash = true
[color]
  ui = true
[color "diff"]
  old = 013
  new = 014
  meta = 220
  frag = 245
  whitespace = "red reverse"
  compactionHeuristic = true
[color "diff-hightlight"]
  oldNormal = "013 bold"
  oldHighlight = "000 005"
  newNormal = "014 bold"
  newHighlight = "white 014"
[color "status"]
  added = 014
  changed = 013
  untracked = yellow
  deleted = red
[core]
  editor = {{ git_editor|default('vi') }}
  pager  = delta
  quotepath = false
  hooksPath = ~/git-hooks/hooks
[url "https://"]
  insteadOf = git://
[http]
  sslVerify = false
[alias]
  a = add
  c = commit
  co = checkout
  r = restore
  s = switch
  st = status -sb
  rv = remote -v
  rso = remote show origin
  f  = fetch -p
  p  = push
  pfwl = push --force-with-lease
  pf = push -f
  # branch
  b  = branch
  ba = branch -a
  # log
  wc = whatchanged
  ls = log --stat
  lp = log -p
  la = log --pretty=\"format:%ad %h (%an): %s\" --date=short
  lo = log --pretty=oneline
  rank = shortlog -s -n --no-merges
  ltg = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
  lta = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  list = log --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --date=short
  # diff
  dd = log -p --reverse
  df = log --stat --name-only
  dm = diff master
  dw = diff --color-words
  dc = diff --cached
  ds = diff --staged
  d1 = diff HEAD~
  d2 = diff HEAD~~
  d3 = diff HEAD~~~
  d4 = diff HEAD~~~~
  d5 = diff HEAD~~~~~
  d10 = diff HEAD~~~~~~~~~~
[delta]
  syntax-theme = DarkNeon
  side-by-side = false
  keep-plus-minus-markers = true
  line-numbers = false
  plus-style = syntax 17
  plus-non-emph-style = cyan 17
  plus-emph-style = white 25
  plus-empty-line-marker-style = cyan
  minus-style = syntax 89
  minus-non-emph-style = magenta 89
  minus-emph-style = white 162
  minus-empty-line-marker-style = magenta
  hunk-header-style = ul 202
  file-style = 82
