[user]
    name = {{ git.username|default('vagrant') }}
    email = {{ git.usermail|default('vagrant@example.com') }}
[color]
    ui = true
[core]
    editor = {{ git_editor|default('vi') }}
    pager  = less -cm
    quotepath = false
[url "https://"]
    insteadOf = git://
[http]
    sslVerify = false
[alias]
  a  = add
  ci = commit
  co = checkout
  st = status -sb
  rv = remote -v
  rso = remote show origin
  f  = fetch -p
  # branch
  b  = branch
  ba = branch -a
  # log
  wc = whatchanged
  ls = log --stat
  lp = log -p
  la = log --pretty=\"format:%ad %h (%an): %s\" --date=short
  lo = log --pretty=oneline
  rank = shortlog -s -n --no-merges
  ltg = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
  lta = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  # diff
  dm = diff master
  dw = diff --color-words
  dc = diff --cached
  ds = diff --staged
  d1 = diff HEAD~
  d2 = diff HEAD~~
  d3 = diff HEAD~~~
  d4 = diff HEAD~~~~
  d5 = diff HEAD~~~~~
  d10 = diff HEAD~~~~~~~~~~
