---
extends: default

ignore: |
  docker-compose*.yml

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  indentation:
    spaces: 2
    indent-sequences: consistent
    level: error
  line-length: disable
  truthy: disable
