---
name: ansible

on:
  push:
    paths:
      - 'ansible/**'
      - '.github/workflows/ci-ansible.yml'
  repository_dispatch:
    types: [ansible]
  workflow_dispatch:
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * SAT'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  set-mise-tools:
    runs-on: ubuntu-latest
    name: 'set mise tools list'
    outputs:
      list: ${{ steps.set-mise-tools.outputs.list }}
    steps:
      - uses: actions/checkout@v4.2.2
      - name: set json
        id: set-mise-tools
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq
          sudo chmod +x /usr/bin/yq
          MISE_TOOL_LIST=$(yq -o json -I=0 '.tools|keys' config/mise/config.toml)
          echo "list=$MISE_TOOL_LIST" >> "$GITHUB_OUTPUT"

  set-tags-matrix:
    needs: set-mise-tools
    runs-on: ubuntu-latest
    name: 'set tags matrix'
    outputs:
      tags: ${{ steps.set-matrix.outputs.result }}
    steps:
      - uses: actions/github-script@v7.0.1
        id: set-matrix
        env:
          TOOLS_CHUNKS: ${{ vars.TOOLS_CHUNKS }}
        with:
          script: |
            const eventName = context.eventName;
            const targetTags = ['deploy', 'init', 'tool', 'mise'];
            const tags = (eventName === 'workflow_dispatch' || eventName === 'schedule') ? [...targetTags, 'all'] : targetTags;
            const tools = ${{ needs.set-mise-tools.outputs.list }};
            const chunks = process.env.TOOLS_CHUNKS || 3;
            const chunkedTools = Array.from({ length: chunks }, (_, i) => tools.slice(i * Math.ceil(tools.length / chunks), (i + 1) * Math.ceil(tools.length / chunks)));
            return tags.map(tag => {
              if (tag === "mise") {
                return chunkedTools.map(tool => ({tag, tools: tool.join(" ")}));
              }
              return {tag, tools: ''};
            }).flat();

  build-ubuntu:
    needs: set-tags-matrix
    runs-on: ubuntu-24.04
    name: 'playbook ubuntu'
    strategy:
      fail-fast: false
      matrix:
        row: ${{fromJson(needs.set-tags-matrix.outputs.tags)}}
    steps:
      - uses: actions/checkout@v4.2.2
      - if: github.event.client_payload
        uses: actions/checkout@v4.2.2
        with:
          ref: ${{ github.event.client_payload.ref }}
      - name: install ansible
        run: |
          sudo apt update
          sudo apt-get install python3-setuptools
          python3 -m pip install ansible pexpect --user
      - name: run ansible
        env:
          CI: true
          TOOLS: ${{ matrix.row.tools }}
        run: |
          cd ansible
          ansible-playbook -i localhost, -c local ubuntu.yml --extra-vars user=runner --tags "${{ matrix.row.tag }}"

  build-mac:
    runs-on: macos-latest
    name: 'playbook mac'
    steps:
      - uses: actions/checkout@v4.2.2
      - if: github.event.client_payload
        uses: actions/checkout@v4.2.2
        with:
          ref: ${{ github.event.client_payload.ref }}
      - name: install ansible
        run: |
          brew install ansible
      - name: run ansible
        env:
          CI: true
        run: |
          cd ansible
          ansible-playbook -i localhost, -c local mac.yml

  build-codespace:
    runs-on: ubuntu-latest
    name: 'playbook codespace'
    steps:
      - uses: actions/checkout@v4.2.2
      - if: github.event.client_payload
        uses: actions/checkout@v4.2.2
        with:
          ref: ${{ github.event.client_payload.ref }}
      - name: 'ansible playbook codespace'
        env:
          CI: true
        run: |
          docker compose build codespace
          docker compose run -e CI=true codespace sh setup.sh

  lint:
    runs-on: ubuntu-latest
    name: 'lint'
    steps:
      - uses: actions/checkout@v4.2.2
      - run: cat $GITHUB_EVENT_PATH
      - if: github.event.client_payload
        uses: actions/checkout@v4.2.2
        with:
          ref: ${{ github.event.client_payload.ref }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.2
        with:
          python-version: 3.12
          activate-environment: "false"
      - name: install ansible-lint yamllint
        run: |
          uv pip install --no-cache ansible ansible-lint --system
      - name: yamllint
        env:
          CI: true
        run: |
          cd ansible
          uv run yamllint .

      - name: ansible-lint
        env:
          CI: true
        run: |
          cd ansible
          uv run ansible-lint mac.yml ubuntu.yml codespace.yml

  action-timeline:
    if: always()
    runs-on: ubuntu-latest
    needs: [lint, build-mac, build-ubuntu, build-codespace]
    steps:
      - uses: Kesin11/actions-timeline@v2.2.3

  slack-notify:
    if: always()
    needs: [lint, build-mac, build-ubuntu, build-codespace]
    name: post slack
    runs-on: ubuntu-latest
    steps:
      - uses: Gamesight/slack-workflow-status@v1.3.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
